body {
    font-family: 'Roboto';

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 0px 200px;

}

.left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


ul  {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    list-style-type: none;
    gap: 18px;

}


.herobody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background-color: #1F2937;
    
}

.leftbody, .rightbody {
    flex: 1;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb
    
}

button {
    font-size: 17px;
    color: white;
    font-weight: bolder;
    padding: 20px;
    background-color: #3882f6;
    border-radius: 25px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  
  
}

.informationsection {
  padding: 20px 20px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  
  
}

.card p {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 228px;
}

.image-placeholder {
  border: solid blue;
  height: 150px;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
  padding: 70px 70px;
}

.quote h1 {
  margin-left: 40%;
  font-size: 36px;
  color: #1F2937;

}

.quote p {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  max-width: 1000px;
  
 }
   
 .calltoaction {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: solid blue;
  background-color: #3882f6;
  border-radius: 20px;
  padding: 40px 50px;
  margin: 100px auto;
  width: 800px;
  
   }
  
  .box h1 {
    font-size: 40px;
  }
  
  .calltoaction button {
    color: #E5E7EB;
    border-color:#e5e7eb
  }
 